<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img [src]="user?.getImageUrl" alt="Profile" class="rounded-circle" />
          <h2>{{ user?.name }}</h2>
          <h3 class="text-center">Software Engineer</h3>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a
              href="https://www.facebook.com/profile.php?id=100008719261494"
              target="_blank"
              class="facebook"
              ><i class="bi bi-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/rafael.f_riv/"
              target="_blank"
              class="instagram"
              ><i class="bi bi-instagram"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/rafael-adonis-flores-rivera-1321942a0/"
              target="_blank"
              class="linkedin"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Edit Photo
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Image Profile</div>
                <div class="col-lg-9 col-md-8">
                  <img [src]="user?.getImageUrl" alt="Profile" width="60px" />
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">User Name</div>
                <div class="col-lg-9 col-md-8">{{ user?.name }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ user?.email }}</div>
              </div>
            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->
              <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                <div class="row mb-3">
                  <label
                    for="User Name"
                    class="col-md-4 col-lg-3 col-form-label"
                    >User Name</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="fullName"
                      type="text"
                      class="form-control"
                      id="fullName"
                      formControlName="name"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                    >Email</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="Email"
                      formControlName="email"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="profileForm.invalid"
                  >
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Settings Form -->

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                  >Edit Photo</label
                >
              </div>
              <div class="text-center">
                @if(!imgTemp){
                <img [src]="this.user?.getImageUrl" alt="" class="img-avatar" />
                }@else{
                <img [src]="imgTemp" alt="" class="img-avatar" />
                }
              </div>
              <div class="row mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="File"
                  (change)="cambiarImagen($event)"
                />
              </div>

              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-primary"
                  [disabled]="!imageSubir"
                  (click)="subirImagen()"
                >
                  Save Changes
                </button>
              </div>

              <!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label
                    for="currentPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      id="currentPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="newpassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="renewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Re-enter New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="renewpassword"
                      type="password"
                      class="form-control"
                      id="renewPassword"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Change Password
                  </button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
