<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control my-3"
          placeholder="Buscar hospitales"
          (keyup)="search(txtHospital.value)"
          #txtHospital
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
  @if(!loading){
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>
  }
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Hospitals ({{ hospitals.length }})</h5>
          </div>
          <div class="col">
            <div class="d-flex justify-content-end mt-3">
              <button class="btn btn-primary" (click)="apenSweetAlet()">
                <i class="fa fa-hospital-o"></i>
                Add
              </button>
            </div>
          </div>
        </div>

        <!-- Default Table -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="w100">Imagen</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-center w100">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (hospital of hospitals; track $index) {
              <tr>
                <th>
                  <img
                    (click)="openModal(hospital)"
                    [src]="hospital.img! | img : 'hospitals'"
                    alt=""
                    class="avatar cursor"
                  />
                </th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del hospital"
                    [(ngModel)]="hospital.name"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    class="cursor"
                    (click)="updateHospital(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Guardar cambios"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  &nbsp;
                  <a
                    (click)="deleteHospitals(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <!-- <button class="btn btn-secondary">Siguiente</button>
        &nbsp;
        <button class="btn btn-secondary">Anterior</button> -->
        <!-- End Default Table Example -->
      </div>
    </div>
  </div>
</div>
