<div class="input-group mt-3">
  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="increase(-5)">
      <i class="fa-solid fa-minus"></i>
    </button>
  </span>
  <input
    type="text"
    class="form-control"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progreso"
    placeholder=""
  />
  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="increase(5)">
      <i class="fa-solid fa-plus"></i>
    </button>
  </span>
</div>
