/* You can add global styles to this file, and also import other style files */
.cursor {
  cursor: pointer;
}
.img-avatar {
  width: 200px;
  height: 200px;
}
.img-perfil {
  width: 100px;
}

.w100 {
  width: 100px;
}
.w140 {
  width: 140px;
}
.avatar {
  width: 30px;
  border-radius: 100%;
}

.w200 {
  width: 200px;
}
